*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.agents
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/AGENTS.md
/auth.json
/public/storage
/skills-lock.json
/storage/*.key
/storage/pail
/storage/fonts/*.ufm
/storage/fonts/*.ufm.json
/storage/fonts/*.afm.json
/storage/fonts/installed-fonts.json
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
google-credentials.json
